@media only screen and (min-width: 600px) {
  .large-hidden {
    display: none;
  }

  .small-hidden {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .large-hidden {
    display: block;
  }

  .small-hidden {
    display: none;
  }
}

.about {
  background-color: white;
}

.about-layout-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.about-layout-image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  filter: brightness(70%);
}

.about-layout-text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

  color: white;
  font-size: 2.4rem;
  font-weight: 600;
}

@media only screen and (max-width: 900px) {
  .about-layout-text {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    font-size: 2.4rem;
    font-weight: 600;
  }
}

@media only screen and (max-width: 600px) {
  .about-layout-text {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 40%);

    font-size: 2rem;
    font-weight: 600;
  }
}

/* ===How It Started=== */

.how-it-started-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: white;

  padding-top: 3rem;
}

.how-it-started-image-container {
  width: 90%;
  padding-left: 10%;
}

.how-it-started-image {
  width: 30vw;
  height: auto;
  border-top-left-radius: 0rem;
  border-bottom-right-radius: 4rem;
}

.how-it-started-text {
  width: 100%;
  padding-left: 0rem;
}

.how-it-started-h1 {
  font-weight: 600;
  font-size: 2.4rem;
  padding-bottom: 1rem;
}

.how-it-started-p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-right: 20%;
}

@media only screen and (max-width: 900px) {
  .how-it-started-p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-right: 0%;
  }
}

@media only screen and (min-width: 1400px) {
  .how-it-started-container {
    padding-top: 3rem;
    padding-bottom: 0rem;
  }

  .how-it-started-p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-right: 30%;
  }

  .how-it-started-image-container {
    padding-left: 15%;
  }
  
  .how-it-started-image {
    width: 25vw;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .how-it-started-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
  }

  .how-it-started-image {
    width: 100%;
    max-height: 100vw;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }

  .how-it-started-text{
    padding-bottom: 1rem;
  }

  .how-it-started-h1 {
    font-weight: 600;
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    padding-left: 0.8rem;
  }

  .how-it-started-p {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
  }
}

/* ===About Mission=== */

.about-mission {
  display: flex;
  padding-bottom: 22vw;
  padding-top: 10%;
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fbfbfb;
}

.about-mission-text {
  width: 50vw;
}

.about-mission-h1 {
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.about-mission-p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}

.about-mission-img {
  width: 50vw;
  position: relative;
  box-sizing: border-box;
}

.about-mission-image {
  height: 40vw;
  width: 80%;
}

.about-top-img {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  z-index: 5;
  border-top-left-radius: 4rem;
}

.about-bottom-img {
  position: absolute;
  top: 0%;
  right: 0%;
  border-bottom-right-radius: 4rem;
}

@media only screen and (max-width: 1200px) {
  .about-top-img {
    position: absolute;
    bottom: 0%;
    top: -20%;
    left: 0rem;
    z-index: 5;
    border-top-left-radius: 4rem;
  }

  .about-bottom-img {
    position: absolute;
    top: 20%;
    right: 0%;
    border-bottom-right-radius: 4rem;
  }

  .about-mission-h1 {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .about-mission-p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .about-mission {
    display: flex;
    flex-direction: column;
    padding-bottom: 0rem;
    padding-top: 1rem;
    margin-top: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    background-color: #fbfbfb;
  }

  .about-mission-img {
    display: none;
  }

  .about-mission-image-sm {
    width: 100vw;
    height: auto;
    /* max-height: 120vw; */
  }

  .about-mission-image-container {
  }

  .about-mission-text {
    width: 100%;
    padding-bottom: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .about-mission-h1 {
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  .about-mission-p {
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 1400px) {
  .about-mission {
    display: flex;
    padding-bottom: 20vw;
    padding-top: 5rem;
    margin-top: 5rem;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #fbfbfb;
  }

  .about-mission-h1 {
    font-size: 2.4rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }

  .about-mission-p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
  }

  .about-mission-image {
    height: auto;
    width: 70%;
  }

  .about-top-img {
    position: absolute;
    bottom: 0rem;
    left: 2rem;
    z-index: 5;
    border-top-left-radius: 4rem;
  }

  .about-bottom-img {
    position: absolute;
    top: 0rem;
    right: 0%;
    border-bottom-right-radius: 4rem;
  }
}

/* ===About-Vision==== */

.about-vision {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 15rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.about-vision-image-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.about-vision-image {
  width: 60%;
  height: 25rem;

  border-bottom-left-radius: 4rem;

  position: absolute;
  top: -10rem;
  left: 20%;
}

.about-vision-text {
  width: 100%;
  padding-right: 10%;
  box-sizing: border-box;
}

.about-vision-h1 {
  text-align: start;
  font-size: 2.4rem;
  font-weight: 600;
}

.about-vision-p {
  padding-left: 0%;
  padding-top: 1rem;

  text-align: start;

  font-size: 1.2rem;
}

@media only screen and (max-width: 900px) {
  .about-vision-h1 {
    font-size: 2.4rem;
    font-weight: 600;
  }

  .about-vision-p {
    padding-left: 0%;
    padding-top: 1rem;

    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  .about-vision {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .about-vision-image-container {
    display: none;
  }

  .about-vision-image-sm{
    background-color: black;
  }

  .about-vision-text {
    width: 100%;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
  }

  .about-vision-h1 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .about-vision-p {
    padding-left: 0%;
    padding-top: 0.5rem;
    font-weight: 500;
    letter-spacing: 0.06rem;
    line-height: 1.5rem;

    font-size: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .about-vision {
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 15rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-vision-image {
    width: 50%;
    height: 30rem;

    border-bottom-left-radius: 4rem;

    position: absolute;
    top: -15rem;
    left: 30%;
  }

  .about-vision-text {
    width: 100%;
    padding-right: 15%;
    box-sizing: border-box;
  }
}
