/* =======================Footer=================== */
 
.footer {
   background-color: black;
   color: whitesmoke;
   width: 100%;
   height: 100%;
   padding-top: 2rem;
   padding-bottom: 2rem;
   padding-left: 10%;
   padding-right: 10%;
   box-sizing: border-box;
   margin: 0rem;
 }
 
 .footer-logo {
   width: 100%;
 }
 
 .footer-logo-image {
   width: 20vw;
 }
 
 .footer-content {
   box-sizing: border-box;
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: space-between;
   align-items: center;
 }
 
 .footer-links {
   width: 100%;
 }
 
 .footer-links a {
   box-sizing: border-box;
   text-decoration: none;
   padding-right: 1.2rem;
   cursor: pointer;
   color: white;
   font-size: 1.2rem;
 }
 
 .footer-links a:hover {
   color: #58669f;
 }
 
 .footer-address {
   width: 50%;
   display: flex;
 }
 
 .footer-address-h1 {
   padding-right: 1.2rem;
   font-size: 1.2rem;
 }
 
 .footer-rights-h1 {
   text-align: center;
   font-size: 1rem;
   font-weight: 100;
   border-top: 1px solid white;
   padding-top: 2rem;
   margin-top: 2rem;
 }
 
 @media only screen and (max-width: 1200px) {
    .footer-content {
       box-sizing: border-box;
       display: flex;
       width: 100%;
       height: 100%;
       justify-content: flex-start;
       align-items: flex-start;
     }
 
     .footer-logo {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       padding-top: 1rem;
     }
 
    .footer-links {
       display: flex;
       flex-direction: column;
       width: 100%;
       text-align: center;
     }
   
     .footer-links a {
       box-sizing: border-box;
       text-decoration: none;
       padding-right: 0rem;
       padding-top: 1rem;
       cursor: pointer;
       font-size: 1rem;
     }
 
     .footer-address {
       width: 100%;
       height: 100%;
       padding-top: 0rem;
       margin-top: 0rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }
 
     .footer-address-h1 {
       padding-right: 0rem;
       padding-top: 1rem;
     }
 }
 
 @media only screen and (max-width: 600px) {
   .footer-content {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     justify-content: center;
     align-items: center;
   }
 
   .footer-logo {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-bottom: 1rem;
   }
 
   .footer-logo-image {
     width: 30vw;
   }
 
   .footer-links {
     display: flex;
     flex-direction: column;
     width: 100%;
     text-align: center;
   }
 
   .footer-links a {
     box-sizing: border-box;
     text-decoration: none;
     padding-right: 0rem;
     padding-top: 1rem;
     cursor: pointer;
     font-size: 1.1rem;
   }
 
   .footer-address {
     width: 100%;
     padding-top: 2rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 1.1rem;
   }
 
   .footer-address-h1 {
     padding-right: 0rem;
     padding-top: 0.5rem;
   }

   .footer-rights-h1 {
    text-align: center;
    font-size: 1rem;
    font-weight: 100;
    border-top: 1px solid white;
    padding-top: 2rem;
    margin-top: 2rem;
  }
 }
 