.product-layout {
  position: relative;
  background-color: white;
}

.product-layout-text {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
}

.product-layout-image {
  width: 100%;
  max-height: 75vh;
  filter: brightness(50%);
}

@media only screen and (max-width: 600px) {
  .product-layout-text {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, 40%);
    font-size: 2rem;
    font-weight: 600;
    color: white;
  }
}

/* ===Product container && cards==== */

.products-container {
  background-color: #fbfbfb;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 5%;
  padding-left: 5%;
}

.products-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-cards {
  position: relative;
  margin: 0.5rem;
}

.product-image {
  position: relative;
  background-color: white;
}

.product-card-image {
  width: 100%;
  padding-bottom: 0rem;
}

.product-plus-icon {
  height: 35px;
  width: 35px;
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 20px;
}

.products-cards-text {
  position: relative;
  bottom: 0;

  width: 100%;
  box-sizing: border-box;
  padding: 1rem;

  background-color: white;
}

.products-cards-text-h1 {
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.products-cards-text-p {
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

@media only screen and (min-width: 600px) {
  .products-container {
    background-color: #fbfbfb;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .product-cards {
    position: relative;
    margin: 0rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }

  .products-cards-text-h1 {
    font-weight: 600;
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .products-container {
    background-color: #fbfbfb;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 10%;
    padding-left: 10%;
  }

  .product-cards {
    position: relative;
    margin: 0rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }

  .products-cards-text-h1 {
    font-weight: 600;
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 1500px) {
  .products-container {
    background-color: #fbfbfb;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 15%;
    padding-left: 15%;
  }
}

@media only screen and (max-width: 600px) {
  .products-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .products-container {
    background-color: #e7e9ee;
    padding-top: 0rem;
    padding-bottom: 2rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .product-cards {
    position: relative;
    margin: 0rem;
    margin-top: 0.8rem;
  }

  .product-card-image {
    width: 100%;
    height: 60vw;
    padding-bottom: 0rem;
  }

  .product-layout {
    position: relative;
    background-color: #e7e9ee;
  }
}

/* ====Product contact section===== */

.products-contact-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
}

.products-contact-h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.products-contact-h2 {
  text-align: center;
  font-size: 1.6rem;
  padding-top: 1rem;
}

.products-contact-button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.products-contact-button a {
  background-color: #58669f;
  color: white;
  cursor: pointer;
  padding: 0.7rem 1.2rem 0.7rem 1.2rem;
  border: 1px solid #58669f;
  border-radius: 2rem;
  font-size: 1.2rem;
}

.products-contact-button a:hover {
  background-color: white;
  color: #58669f;
  transition: 0.8s ease;
}

@media only screen and (min-width: 1500px) {
  .product-contact-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media only screen and (max-width: 500px) {
  .products-contact-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

/* ------------------Overlay---------------------- */

#overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  height: 100%;
  width: 100%;
  display: block;

  animation: slideIn 0.5s ease forwards;
}

#overlay-content.active {
  display: block;
}

#overlay-content2 {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  display: block;

  animation: slideIn 0.8s ease forwards;
}

#overlay-content2.active {
  display: block;
}

#overlay-content3 {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  display: block;

  animation: slideIn 1s ease forwards;
}

#overlay-content3.active {
  display: block;
}

.home-product-card-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  height: 99%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-product-card-overlay-content {
  height: 99%;
  width: 99%;
  position: relative;
  z-index: 1;
}

.close-popup-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 12px;
  right: 22px;

  cursor: pointer;
  border-radius: 50%;

  background-color: white;
}

.products-cards-text-p {
  display: none;
}

.home-product-card-overlay-text {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  color: white;
  text-align: start;
  font-size: 1.2rem;
  font-weight: 100;
}

.home-product-card-overlay-text-h1 {
  font-size: 2rem;
  font-weight: 600;
}

.home-product-card-overlay-text-p {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .home-product-card-overlay-text{
    font-size: 1rem;
    font-weight: 400;
  }
}

@media only screen and (min-width: 600px) {
  .home-product-card-overlay-text{
    font-size: 1rem;
    font-weight: 400;
  }
}

@media only screen and (min-width: 1000px) {
  .home-product-card-overlay-text{
    font-size: 1.2rem;
    font-weight: 400;
  }
}
